@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

a {
  @apply no-underline cursor-pointer;
}

b, strong {
  font-weight: 600;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  overflow-x: hidden;
  height: 100%;
}
.font-base{
  font-family: 'IBM Plex Sans', sans-serif;
}
.font-title{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
}

.title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -1px;
}
@media (max-width: 680px) {
  .title
   {
    font-size: 34px;
    line-height: 1.3;
  }
}

.sub-menu ul>li{
  @apply pb-4
}

.single-post h2,h3,h4,h5,h6{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: normal;
  scroll-margin-top: 80px; 
}

.prose-lg  {
  font-size: 17px;
  line-height: 2;
  color: #232434;
}

.prose-lg code {
  @apply text-gray-800 px-1 py-0.5 border border-gray-100 rounded-md bg-gray-100;
}

.prose pre code {
  @apply text-gray-800 p-0;
  border: initial;
}

.prose-lg ol {
  @apply list-decimal list-outside list-none pl-0;
}

.prose-lg ol>li{
  counter-increment: step-counter;
  position: relative;
  display: block;
  list-style: none;
  padding-left: 46px;
}
.prose-lg ol>li::before{
  border: 3px solid;
  content: counter(step-counter);
  left: 0;
  position: absolute;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-align: center;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  display: block;
}



.link-decor a{
  @apply no-underline border-b-2 border-secondary cursor-pointer;
}
.img-rounded img {
  @apply rounded-lg;
}
.img-height img {
  @apply w-full  h-64 md:h-36 object-cover;
}
.imgThumbnail img{
  @apply w-full h-44 lg:h-32 object-cover;
}
.wp-block-image{
  @apply bg-white shadow-lg;
}
.wp-block-image figcaption {
  @apply text-center pb-3 leading-3 font-normal text-sm;
}

.relatedPostsImage img{
  @apply w-full h-44 md:h-32 object-cover;
}

#sidebar {
  flex: 0 0 300px;
}
.post-width {
  max-width: 1118px;
}
@media (min-width: 1440px){
  #sidebar2 {
    flex: 0 0 300px;
}
.post-width {
  max-width: 1448px;
}
}
.toc {
  margin: 30px 0;
  max-width: 685px;
}

.toc ul>li{
  line-height: 1.25;
  display: block;
  border-radius: 0px;
  margin-left: -2px;
  border: 2px solid #e3dddc;
  margin-bottom: -2px;
  padding: 12px 8px;
}
.toc ul>li:hover {
  background-color: #ede7e6;
  border-left: 2px solid #2c35bf;
}
.toc ul>li:hover a{
  color: #2c35bf;
}

.title img{
  @apply mx-auto rounded-full m-5 border-2 border-white;
}

.blogList {
    @apply grid md:grid-cols-3 gap-6
  }
  .blogList li:hover .postTitle{
    @apply cursor-pointer underline;
  }

.dropShadow{
    @apply shadow-md
  }

.contentSection {
  @apply -mt-14;
}