@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Circular;
  src: url(/fonts/circular/CircularStd-Book.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Circular;
  src: url(/fonts/circular/CircularStd-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Circular;
  src: url(/fonts/circular/CircularStd-Bold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: Circular;
  src: url(/fonts/circular/CircularStd-Black.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}
/*Body Font*/
@font-face {
  font-family: Calibre;
  src: url(/fonts/calibre/CalibreLight.woff2) format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Calibre;
  src: url(/fonts/calibre/CalibreRegular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Calibre;
  src: url(/fonts/calibre/CalibreBlack.woff2) format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: Calibre;
  src: url(/fonts/calibre/CalibreMedium.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: Calibre;
  src: url(/fonts/calibre/CalibreSemibold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

a {
  @apply no-underline cursor-pointer;
}

b, strong {
  font-weight: 700;
}

body {
  font-family: 'Calibre', serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5rem;
  overflow-x: hidden;
  height: 100%;
}
.font-base{
  font-family: 'Calibre', serif;
}
.font-title{
  font-family: 'Circular', serif;
  font-weight: 500;
}
.text-base{
  font-size: 20px;
  letter-spacing: normal;
}

.title {
  font-family: 'Circular';
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: normal;
}
@media (max-width: 680px) {
  .title
   {
    font-size: 34px;
    line-height: 1.3;
  }
}

.sub-menu ul>li{
  @apply pb-4
}

.single-post h2,h3,h4,h5,h6{
  font-family: 'Circular', serif;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: normal;
  scroll-margin-top: 80px; 
}
.prose-lg p {
  font-size: 20px;
  line-height: 2;
}
.prose-lg code {
  @apply text-gray-800 px-1 py-0.5 border border-gray-100 rounded-md bg-gray-100;
}

.prose-lg blockquote{
  @apply border-l-3 border-secondary bg-blue-50 px-4 py-1;
}

.prose-lg figcaption p{
  @apply text-gray-500 text-sm -mt-5 leading-3
}

.prose-lg ul>li{
  @apply list-square list-inside;
}

.prose-lg ol {
  @apply list-decimal list-outside list-none pl-0;
}

.prose-lg ol>li{
  counter-increment: step-counter;
  position: relative;
  display: block;
  list-style: none;
  padding-left: 46px;
}
.prose-lg ol>li::before{
  border: 3px solid;
  content: counter(step-counter);
  left: 0;
  position: absolute;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  display: block;
}



.link-decor a{
  @apply no-underline border-b-2 border-secondary cursor-pointer;
}
.img-rounded img {
  @apply rounded-lg;
}
.img-height img {
  @apply w-full  h-64 md:h-44 object-cover;
}
.imgThumbnail img{
  @apply w-full h-44 lg:h-32 object-cover;
}
.wp-block-image{
  @apply bg-blue-50 shadow-lg object-cover;
}
.wp-block-image figcaption {
  @apply text-center pb-3 leading-3 font-semibold;
}

.relatedPostsImage img{
  @apply w-full h-44 md:h-32 object-cover;
}

#sidebar {
  flex: 0 0 300px;
}
.post-width {
  max-width: 1118px;
}
@media (min-width: 1440px){
  #sidebar2 {
    flex: 0 0 300px;
}
.post-width {
  max-width: 1448px;
}
}

.toc {
  align-self: start;
}

.title img{
  @apply mx-auto rounded-full m-5 border-2 border-white;
}

.blogList {
    @apply grid md:grid-cols-3 gap-6
  }
  .blogList li:hover .postTitle{
    @apply cursor-pointer underline;
  }

.dropShadow{
    @apply shadow-md
  }